@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eaeaea;
  border-radius: 10px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #abaeaf;
  border-radius: 10px;
}
